# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Java / Maven
target/
*.class
*.war
*.jar
.mvn/wrapper/maven-wrapper.jar

# NetBeans
nbproject/private/
build/
dist/

# IDE
.idea/
.vscode/
*.iml

# Docker / local data
*.pid
*.log
docker-data/

# Generated archives
Equipo_*.zip
